.toggle-switch {
    width: 56px;
    height: 28px;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin-left: 979px;
    position: relative;
}


.toggle-switch__checkbox {
    opacity: 0;
}

.toggle-switch__circle {
    background-color: #000000;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.toggle-switch__checkbox:checked + .toggle-switch__circle {
    left: 28px;
}

.toggle-switch__text {
    font-family: "cabinet-grotesk", sans-serif;
    position:absolute;
    top: 5px;
    color: grey;
}

.toggle-switch__text_F {
left: 9px;
}

.toggle-switch__text_C {
right: 9px;
}

.toggle-switch__text_color_white {
    color: white;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
    color: white;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
    color: grey;
}