.card {
 width: 323px;
 position: relative;
 display: flex;
 justify-content: center;
 
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
}

.card__image {
    width: 100%;
    border-radius: 19px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}