.card {
 width: 323px;
 position: relative;
 display: flex;
 justify-content: center;
 
}

.card__name {
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 4px;
  margin: 0 10px 0 0;
  max-width: 200px;
  position: absolute;
  top: 15px;
  margin: 0;

}

.card__image {
    width: 323px;
    height: 326px;
    border-radius: 19px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}