.page {
    background-color: #F3F3F3;
    font-family: "cabinet-grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.page__content {
   width: 100%;
   
   flex: 1;
   margin: 0 auto;
   padding: 0 40px; 
   box-sizing: border-box;
}
.modal__legend {
    margin-bottom: 12px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-style: bold;
}

.modal__input {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-style: bold;
}

.modal__radio-input {
  accent-color: #000; 
  cursor: pointer;
  margin-right: 8px;
}

.modal__label_type_radio input:checked + span {
  color: #000;
}

