.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 21px;
    justify-items: center;
}
.cards__text {
    font-family: "cabinet-grotesk", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}