.modal__content.modal__content_type_image {
  display: flex;
  flex-direction: column;
  padding: 0;      
  border-radius: 20px;
  overflow: hidden;      
  background-color: #FFFFFF;
  font-family: "cabinet-grotesk", sans-serif;
  position: relative;
}

.modal__image {
  flex: 1;                
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0;   
  width: 498px;
  height: 498px;    
}

.modal__footer {
  padding: 20px 32px;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}

.modal__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__caption {
  margin: 0;
  margin-bottom: 12px;
}

.modal__weather {
  margin: 0;
}
.modal__delete-button {
  display: flex;
  align-items: center;
  justify-content:right;
  font-family: "cabinet-grotesk", sans-serif;
  padding: 8px 16px;
  color: #FF4D00;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  background-color: transparent;
  border-style: none;
}