.modal__content.modal__content_type_image {
  display: flex;
  flex-direction: column;
  max-width: 600px;       
  max-height: 90vh;       
  border-radius: 20px;
  overflow: hidden;      
  background-color: #FFFFFF;
  font-family: "cabinet-grotesk", sans-serif;
  position: relative;
}

.modal__image {
  flex: 1;                
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0;       
}

.modal__footer {
  padding: 16px 20px;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}
