
.sidebar__user-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
}

.sidebar__username {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 24px;
}

.sidebar__avatar {
    margin-left: 12px;
    flex: 0 0 40px;
    height: 56px;
    border-radius: 50%;
    object-fit:cover;
    display: block;
}