.footer {
  width: 100%;
  margin-top: 85px;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #F3F3F3;
  color: #000000;
  font-size: 0.9rem;
  font-family: "cabinet-grotesk", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1360px; 
  margin: 0 auto;
}

.footer__name {
  font-weight: 500;
  height: 20px;
  font-size: 16px;
  font-style: medium;
  line-height: 20px;
}

.footer__date {
  opacity: 0.8;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}