.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004D;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    font-family: "cabinet-grotesk", sans-serif;
}

.modal_opened {
    visibility: visible;
}

.modal__title {
    margin: 0;
    margin-bottom: 24px;
}

.modal__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.modal__close-icon {
  width: 16px;
  height: 16px;
  display: block;
}



.modal__content {
    background-color: #FFFFFF;
    position: relative;
    padding: 28px 28px 38px;
    max-width: 496px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
}
.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.modal__input {
    display: block;
    width: 100%;
    border-style: none;
    border-bottom: 1px solid #000; 
    margin-top: 8px;
    cursor: pointer;
}

.modal__submit {
   padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #0000004D;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-start;
}
.modal__submit:hover {
    background-color: #00000099;
}
.modal__submit:active {
    background-color: #000000 ;
}